<div onmousemove="getPos(event)" onmouseout="stopTracking()">
    <div id="focusArea" onclick="getclickPos(event)" style="height:1500px; background-color: #ddd;">
        <p>Mouse Over This Text And Get The Cursor Position!</p>
        <button > hahahaah</button>
    </div>

    <p id="displayArea"> </p>
    <p id="displayArea2"> </p>
    <div id="XY">
        
    </div>

</div>